body {
  line-height: 1.7777778;
}

article {
  line-height: unset;
}

.highlight .err {
  color: #000000;
  border: initial;
}

.sidebar-brand-text {
  text-align: center;
  font-weight: bold;
}

.announcement {
  height: unset;
}

.announcement-content {
  padding: 0;
}

.announcement-content .admonition {
  margin: 0;
  padding: 0;
  background-color: #000095 !important;
}

.announcement-content .admonition p.admonition-title {
  margin: 0;
  padding: 0.75rem;
}
